.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 2rem;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: #c00;
  margin-top: 2rem;
}
