.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Estilos generales */
.menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.menu li a:hover {
  color: #007b55;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  top: 100%;
  left: 0;
  z-index: 20;
  min-width: 180px;
}

.dropdown:hover .dropdownMenu {
  display: flex;
}

.dropdownMenu li a {
  color: #333;
}

/* --- MOBILE --- */
@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%; /* OCULTO FUERA DEL VIEWPORT */
    height: 100vh;
    width: 70%;
    background-color: #333;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
    gap: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 50;
  }

  .menu.open {
    right: 0; /* MOSTRAR SIN OVERFLOW */
  }

  .dropdownMenu {
    position: relative;
    background: #444;
    border: none;
    box-shadow: none;
  }

  .dropdown span {
    color: white;
  }

  .dropdownMenu li a {
    color: #fff;
  }
}
